body {
   background-color: gray;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.row,
.col {
   min-height: 40px;
   min-width: 40px;
   margin: 1px;
   padding: 1px;
}

.col {
   background-color: antiquewhite;
   border: black solid 1px;
}

.col:hover {
   opacity: 50%;
}

.col-mod {
   background-color: gray;
   min-height: 270px;
}

.col-final {
   background-color: lightcoral;
}
.col-ini {
   background-color: lightblue;
}
